.header__menu-button {
  display: none;
  background-image: url('../../../images/icon-menu.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  width: 24px;
  height: 24px;
  border: none;
  z-index: 1;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .header__menu-button {
    display: block;
  }
}
