.card__like-button {
  position: relative;
  background-image: url("../../../images/icon-heart.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 19px;
  min-width: 21px;
  transition: opacity .25s linear;
  cursor: pointer;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: 0;
}

.card__like-button:hover {
  opacity: .5;
}
