.header {
  position: relative;
  width: 100%;
}

@media screen and (max-width: 480px) {
  .header::after {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid #545454;
    opacity: .7;
    content: "";
  }
}
