# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto eol=lf

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.c text
*.h text
*.rs text
*.toml text
*.md text
*.ts text
*.js text
*.json text
*.lock text
*.html text
*.css text
*.yml
.gitignore text
.gitattributes text
.eslintrc text
.editorconfig text
