.form__input_place_credentials {
  background-color: transparent;
  color: white;
  border-color: #cccccc;
}

.form__input_place_credentials::placeholder {
  color: #cccccc;
}

.form__input_place_credentials:focus {
  outline: none;
}
