.places {
  margin: 50px auto 0;
  width: calc(880 / 1280 * 100%);
  max-width: 880px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 20px 17px;
  overflow: hidden;
}

@media screen and (max-width: 800px) {
  .places {
    max-width: 550px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .places {
    width: calc(282 / 320 * 100%);
    max-width: 282px;
    margin-top: 36px;
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
