.popup-section {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: visibility .5s, opacity .5s linear;
}

/* .popup-section::before {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: black;
  content: "";
  opacity: .5;
} */
