.profile__avatar-container {
  position: relative;
  display: block;
  margin: 0 30px 0 0;
  max-width: 120px;
  content: "";
}

@media screen and (max-width: 1044px) {
  .profile__avatar-container {
    margin: 0 0 30px 0;
  }
}
