.credential-section__title {
  margin: 0 auto 50px;
  padding: 0;
  font-size: 24px;
  line-height: 1.21;
  font-weight: 900;
}

@media screen and (max-width: 767px) {
  .credential-section__title {
    margin: 0 auto 40px;
    font-size: 20px;
    line-height: 1.2;
  }
}
