.credential-section__link {
  margin: 0 auto;
  color: white;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.21;
  transition: opacity .3s linear;
  text-align: center;
}

.credential-section__link:hover {
  opacity: .6;
}

@media screen and (max-width: 767px) {
  .credential-section__link {
    font-size: 12px;
    line-height: 1.25;
  }
}
