.card__delete-button {
  position: absolute;
  top: 18px;
  right: 15px;
  border: 0;
  margin: 0;
  padding: 0;
  min-height: 20px;
  min-width: 18px;
  background-color: transparent;
  background-image: url("../../../images/icon-trash.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  opacity: 1;
  transition: opacity .25s linear;
}

.card__delete-button:hover {
  opacity: 0.6;
}
