.popup-modal {
  position: relative;
  border-radius: 10px;
  background-color: white;
  color: black;
  width: calc(430 / 1280 * 100%);
  max-width: 430px;
  height: fit-content;
  z-index: 1;
}

@media screen and (max-width: 767px) {
  .popup-modal {
    width: calc(282 / 320 * 100%);
    max-width: 282px;
  }
}
