.form__field_type_credentials:last-of-type {
  margin-bottom: 216px;
}

@media screen and (max-width: 767px) {
  .form__field_type_credentials {
    margin-bottom: 20px;
  }

  .form__field_type_credentials:last-of-type {
    margin-bottom: 164px;
  }
}
