.credential-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 358px;
  width: calc(358 / 1280 * 100%);
  margin: 60px auto;
}

@media screen and (max-width: 767px) {
  .credential-section {
    width: calc(260 / 320 * 100%);
    max-width: 260px;
    margin: 40px auto;
  }
}
